# Lesson 2: Selecting and Filtering Data (SELECT & WHERE)

**Duration:** 20 minutes  
**Prerequisites:** Complete Lesson 1 first  
**Learning Mode:** Read explanations, then run each SQL query

---

## üéØ Learning Objectives

By the end of this lesson, you will be able to:
- Retrieve specific columns from a table using SELECT
- Filter data using the WHERE clause
- Use comparison operators (=, !=, <, >, <=, >=)
- Combine conditions with AND and OR
- Use pattern matching with LIKE and wildcards

## üìö Introduction to Querying Data

In Lesson 1, you created a database and inserted data. Now you'll learn how to **retrieve** specific information from your database. This is what makes databases so powerful!

The `SELECT` statement is the most commonly used SQL command. It allows you to:
- View all data in a table
- Select specific columns
- Filter rows based on conditions
- Search for patterns in text

## üõ†Ô∏è Setup: Connect to Database

**Run the next 3 cells to set up your environment:**

In [5]:
# Load SQL magic extension
%load_ext sql

# Fix prettytable compatibility issue
import prettytable
try:
    # Try to access DEFAULT to see if it exists
    _ = prettytable.DEFAULT
except AttributeError:
    # If it doesn't exist, add it using SINGLE_BORDER
    from prettytable import SINGLE_BORDER
    prettytable.DEFAULT = SINGLE_BORDER

# Configure SQL magic settings
%config SqlMagic.autopandas = False
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
# Connect to the database created in Lesson 1 (stored at database/starwars.db)
%sql sqlite:///database/starwars.db

Traceback (most recent call last):
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\base.py", line 143, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\base.py", line 3301, in raw_connection
    return self.pool.connect()
           ~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 447, in connect
    return _ConnectionFairy._checkout(self)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 1264, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 711, in checkout
    rec = pool._do_get()
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    with util.safe_reraise():
         ~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\util\langhelpers.py", line 224, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\impl.py", line 175, in _do_get
    return self._create_connection()
           ~~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 388, in _create_connection
    return _ConnectionRecord(self)
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 673, in __init__
    self.__connect()
    ~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 899, in __connect
    with util.safe_reraise():
         ~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\util\langhelpers.py", line 224, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 895, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\create.py", line 661, in connect
    return dialect.connect(*cargs, **cparams)
           ~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\default.py", line 629, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)  # type: ignore[no-any-return]  # NOQA: E501
           ~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^
sqlite3.OperationalError: unable to open database file

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
        connect_str,
    ...<2 lines>...
        creator=args.creator,
    )
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\base.py", line 3277, in connect
    return self._connection_cls(self)
           ~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    Connection._handle_dbapi_exception_noconnection(
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        err, dialect, engine
        ^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\base.py", line 2440, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\base.py", line 143, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\base.py", line 3301, in raw_connection
    return self.pool.connect()
           ~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 447, in connect
    return _ConnectionFairy._checkout(self)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 1264, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 711, in checkout
    rec = pool._do_get()
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    with util.safe_reraise():
         ~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\util\langhelpers.py", line 224, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\impl.py", line 175, in _do_get
    return self._create_connection()
           ~~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 388, in _create_connection
    return _ConnectionRecord(self)
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 673, in __init__
    self.__connect()
    ~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 899, in __connect
    with util.safe_reraise():
         ~~~~~~~~~~~~~~~~~^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\util\langhelpers.py", line 224, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\pool\base.py", line 895, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\create.py", line 661, in connect
    return dialect.connect(*cargs, **cparams)
           ~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sqlalchemy\engine\default.py", line 629, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)  # type: ignore[no-any-return]  # NOQA: E501
           ~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## üîç Part 1: The SELECT Statement

### Basic SELECT Syntax

The simplest SELECT statement retrieves all data from a table:

```sql
SELECT * FROM table_name;
```

- `SELECT` - Command to retrieve data
- `*` - Means "all columns"
- `FROM` - Specifies which table
- `table_name` - Name of the table

### Query 1: Select All Characters

**Run the cell below to view all characters:**

In [8]:
%%sql
-- Query 1: View all characters and all columns
SELECT * FROM characters;

Traceback (most recent call last):
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
        connect_str,
    ...<2 lines>...
        creator=args.creator,
    )
  File "C:\Users\zaif.khan\AppData\Roaming\Python\Python313\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
        "Environment variable $DATABASE_URL not set, and no connect string given."
    )
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Query 2: Select Specific Columns

What if you only want to see names and species?

**Notice:** The output will only show two columns!

In [ ]:
%%sql
-- Query 2: View only names and species
SELECT name, species FROM characters;

### Query 3: Select Columns in Different Order

**Key Point:** Columns appear in the order you specify, not the table's order.

In [ ]:
%%sql
-- Query 3: View columns in a different order
SELECT homeworld, name, species FROM characters;

## üîç Part 2: Filtering with WHERE

The `WHERE` clause filters rows based on conditions. Only rows that meet the condition are returned.

### Basic WHERE Syntax

```sql
SELECT columns FROM table_name WHERE condition;
```

### Comparison Operators

| Operator | Meaning | Example |
|----------|---------|---------|
| `=` | Equal to | `species = 'Human'` |
| `!=` or `<>` | Not equal to | `species != 'Droid'` |
| `<` | Less than | `id < 5` |
| `>` | Greater than | `id > 3` |
| `<=` | Less than or equal | `id <= 10` |
| `>=` | Greater than or equal | `id >= 1` |

### Query 4: Find All Humans

**You should see only the human characters:**

In [ ]:
%%sql
-- Query 4: Find all human characters
SELECT * FROM characters WHERE species = 'Human';

### Query 5: Find Characters from a Specific Planet

In [ ]:
%%sql
-- Query 5: Find all characters from Tatooine
SELECT name, homeworld FROM characters WHERE homeworld = 'Tatooine';

### Query 6: Find Characters NOT from a Species

**Note:** Both `!=` and `<>` work for "not equal".

In [1]:
%%sql
-- Query 6: Find all characters who are NOT human
SELECT name, species FROM characters WHERE species != 'Human';

UsageError: Cell magic `%%sql` not found.

## üîó Part 3: Combining Conditions

You can combine multiple conditions using `AND` and `OR`.

### Query 7: AND - Both Conditions Must Be True

**Result:** Only characters who are human AND from Tatooine.

In [ ]:
%%sql
-- Query 7: Find humans from Tatooine
SELECT name, species, homeworld 
FROM characters 
WHERE species = 'Human' AND homeworld = 'Tatooine';

### Query 8: OR - At Least One Condition Must Be True

**Result:** Characters who match either condition.

In [ ]:
%%sql
-- Query 8: Find characters who are either Droids OR from Naboo
SELECT name, species, homeworld 
FROM characters 
WHERE species = 'Droid' OR homeworld = 'Naboo';

### Query 9: Combining AND with OR

Use parentheses to group conditions:

**Why parentheses?** They ensure the OR is evaluated first, then the AND.

In [ ]:
%%sql
-- Query 9: Find humans from either Tatooine or Alderaan
SELECT name, species, homeworld 
FROM characters 
WHERE species = 'Human' AND (homeworld = 'Tatooine' OR homeworld = 'Alderaan');

## üé® Part 4: Pattern Matching with LIKE

The `LIKE` operator searches for patterns in text using wildcards.

### Wildcards

| Wildcard | Meaning | Example |
|----------|---------|---------|
| `%` | Any number of characters (including zero) | `'L%'` matches "Luke", "Leia" |
| `_` | Exactly one character | `'_oda'` matches "Yoda", "Boda" |

### Query 10: Find Names Starting with a Letter

**Result:** Luke Skywalker, Leia Organa

In [ ]:
%%sql
-- Query 10: Find all characters whose names start with 'L'
SELECT name FROM characters WHERE name LIKE 'L%';

### Query 11: Find Names Ending with a Pattern

In [ ]:
%%sql
-- Query 11: Find all characters whose names end with 'o'
SELECT name FROM characters WHERE name LIKE '%o';

### Query 12: Find Names Containing a Pattern

**Key Point:** The `%` matches any characters before and after "Darth".

In [1]:
%%sql
-- Query 12: Find all characters with 'Darth' in their name
SELECT name FROM characters WHERE name LIKE '%Darth%';

UsageError: Cell magic `%%sql` not found.

### Query 13: Species Containing Specific Letters

**Note:** `DISTINCT` removes duplicates from results.

In [ ]:
%%sql
-- Query 13: Find all species containing 'oid'
SELECT DISTINCT species FROM characters WHERE species LIKE '%oid%';

## üéì Practice Exercises

Now it's your turn! Complete these queries:

### Exercise 1: Find Specific Characters

In [ ]:
%%sql
-- Exercise 1: Find all characters from Kashyyyk
SELECT name, homeworld FROM characters WHERE homeworld = 'Kashyyyk';

### Exercise 2: Exclude Species

In [ ]:
%%sql
-- Exercise 2: Find all characters who are NOT droids
SELECT name, species FROM characters WHERE species != 'Droid';

### Exercise 3: Multiple Conditions

In [ ]:
%%sql
-- Exercise 3: Find all humans NOT from Tatooine
SELECT name, species, homeworld 
FROM characters 
WHERE species = 'Human' AND homeworld != 'Tatooine';

### Exercise 4: Pattern Matching

In [ ]:
%%sql
-- Exercise 4: Find all characters whose names contain 'Sky'
SELECT name FROM characters WHERE name LIKE '%Sky%';

## üéØ Challenge Problem

Write a query that finds all characters whose **species contains "oid"** AND whose **homeworld starts with 'N'**.

**Hint:** You'll need to combine WHERE, LIKE, and AND.

In [ ]:
%%sql
-- Challenge Problem: Species with 'oid' AND homeworld starting with 'N'
SELECT name, species, homeworld 
FROM characters 
WHERE species LIKE '%oid%' AND homeworld LIKE 'N%';

## ÔøΩÔøΩ Common Errors & Troubleshooting

### Case Sensitivity in SQLite

**Important:** SQLite text comparisons are case-sensitive by default.

```sql
-- These are DIFFERENT:
WHERE species = 'human'   -- Won't match 'Human'
WHERE species = 'Human'   -- Correct
```

**Solution:** Use `COLLATE NOCASE` for case-insensitive searches:
```sql
SELECT * FROM characters WHERE species = 'human' COLLATE NOCASE;
```

### LIKE Not Finding Results

**Problem:** Forgetting wildcards.

```sql
-- WRONG: Looks for exact match 'Luke'
WHERE name LIKE 'Luke'

-- CORRECT: Finds names containing 'Luke'
WHERE name LIKE '%Luke%'
```

### Mixing Up AND/OR

**Example:**
```sql
-- This returns NO results (no one is both a Droid AND Human)
WHERE species = 'Droid' AND species = 'Human'

-- This returns characters who are either
WHERE species = 'Droid' OR species = 'Human'
```

## ‚úÖ Checkpoint: What You've Learnt

Before moving on, make sure you can:

- ‚úÖ Use SELECT to retrieve all columns (`*`)
- ‚úÖ Select specific columns by name
- ‚úÖ Filter rows with WHERE
- ‚úÖ Use comparison operators (=, !=, <, >, <=, >=)
- ‚úÖ Combine conditions with AND/OR
- ‚úÖ Use LIKE with wildcards (%, _)
- ‚úÖ Understand case sensitivity in text comparisons

## üìñ Key SQL Commands Learnt

| Command | Purpose | Example |
|---------|---------|---------|
| `SELECT` | Retrieve data from tables | `SELECT name FROM characters;` |
| `WHERE` | Filter rows based on conditions | `WHERE species = 'Human'` |
| `AND` | Both conditions must be true | `WHERE species = 'Human' AND homeworld = 'Tatooine'` |
| `OR` | At least one condition must be true | `WHERE species = 'Droid' OR species = 'Human'` |
| `LIKE` | Pattern matching | `WHERE name LIKE 'L%'` |
| `%` | Wildcard: any characters | `'%Sky%'` |
| `_` | Wildcard: exactly one character | `'_oda'` |
| `DISTINCT` | Remove duplicate values | `SELECT DISTINCT species` |

## üéâ Excellent Work!

You can now query your database and find exactly the information you need! In the next lesson, you'll learn how to sort and limit your results.

**Ready to continue?** Open `lesson3_sorting.ipynb`

---

## üíæ Git Commands (for reference)

```bash
git status
git add solutions/lesson2_queries.ipynb database/starwars.db
git commit -m "Completed Lesson 2: SELECT queries with WHERE filtering"
git push
```